<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahidul.prgnacycalculator">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrgnacyCalculator">
        <activity
            android:name=".Baby_Care_Activity"
            android:exported="false" />
        <activity
            android:name=".Pregnancy_Care_Activity"
            android:exported="false" />
        <activity
            android:name=".Baby_Groth_Activity"
            android:exported="false" />
        <activity
            android:name=".Bmi_Cal_Activity"
            android:exported="false" />
        <activity
            android:name=".Age_Cal_Activity"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".Pregnancy_Cal_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9590411212206173~1079949005" />

    </application>

</manifest>